{% extends 'base.html' %}
{% block main %}
<article class="post">
	<div class="welcome">
		欢迎来到我的博客，您可通过以下方式练习到我
	</div>
	<div class="myinfo">
		<ul>
			<li><span><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>: 15630130548</a></span></li>
			<li><span><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i>: 15630130548@163.com</a></span></li>
			<li><span><a href="#"><i class="fa fa-qq" aria-hidden="true"></i>: 1225675372</a></span></li>
			<li></li>
		</ul>
	</div>
</article>
{% endblock main %}